body,h1,h2,h3,h4,h5,h6,div,p,head,ul,li{
  margin: 0;
  padding: 0;
}
body{
  color: #666;
}
ul,li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.consult{
  position: fixed;
  right: 10px;
  bottom: 180px;
  color: #fff;
  border-radius: 28px;
  font-weight: 300;
  cursor: pointer;
  font-size: 15px;
  line-height: 56px;
  box-shadow: 0 7px 12px rgba(37,106,131,0.2);
  background: #55b6da url(../pic/service_icon.png) no-repeat 18px center;
  background-size: 23px 21px;
  padding: 0 20px 0 48px;
  z-index: 999;
}
.consult2{
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .8);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  position: fixed;
  bottom: 25%;
  right: 6%;
  z-index: 1000;
  text-align: center;
  line-height: 66px;
  display: none;
  img{
    width: 26px;
    height: 23px;
  }
}

.top{
  width: 100%;
  .top-scene{
    height: 66px;
    width: 100%;
    position: relative;
    .top-tit{
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: calc(100% - 140px);
      padding: 0 70px;
      >a{
        vertical-align: top;
        display: inline-block;
        height: 48px;
        width: 86px;
        background: url(../pic/logo.png) no-repeat;
        margin: 11px 46px 0 0;
        background-size: 86px;
      }
      >div{
        display: inline-block;
        width: calc(100% - 140px);
        >ul{
          width: 100%;
          display: inline-block;
          margin-top: 7px;
          margin-left: 25px;
          .li{
            display: inline-block;
            text-align: center;
            font-size: 17px;
          }
          .li1{
            font-size: 15px;
            a{
              display: inline-block;
              color: #3F4764;
              padding: 14px 0 10px 0;
              font-weight: 500;
              margin-right: 53px;
              &:hover{
                color: #3F4764;
                border-bottom: solid 5px #fde01f;
              }
            }
          }
          .li2{
            float: right;
            a{
              display: inline-block;
              width: 90px;
              padding: 10px;
              border: 1px solid #55b6da;
              text-align: center;
              font-size: 14px;
              border-radius: 5px;
              margin-right: 15px;
            }
            .login{
              color: #55b6da;
              &:hover{
                color: white;
                background-color: #55b6da;
              }
            }
            .register{
              color: white;
              background-color: #55b6da;
            }
          }
        }
      }
    }
  }
}
.top-middle{
  width: 100%;
  height: 380px;
  .top-middle-scene{
    height: 100%;
    width: 100%;
    position: relative;
    .top-scroll{
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      li{
        position: absolute;
        height: 100%;
        width: 100%;
      }
      .one-1{
        background-image: url(../pic/first-one.jpg);
        background-position:center bottom;
        background-size : cover;
      }
      .one-2{
        background-image: url(../pic/second-one.jpg);
        background-position:center bottom;
        background-size : cover;
      }
      .one-3{
        background-image: url(../pic/third-one.jpg);
        background-position: center bottom;
        background-size : cover;
      }
    }
    .dotted{
      position: absolute;
      z-index: 3;
      bottom: 4%;
      left: 50%;
      margin-left: -21.83px;
      span{
        display: inline-block;
        background-color: white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 3px;
      }
    }
  }
}
.com-title-com{
  text-align: center;
  color: #000e42;
  letter-spacing: 3px;
}
.com-title-1{
  font-size: 24px;
  padding: 30px 0;
}
.com-title-2{
  font-size: 28px;
  padding: 30px 0 10px 0;
}
.com-title-3{
  font-size: 21px;
  padding: 0 0 20px 0;
}
.middle{
  a{
    display: inline-block;
    position: relative;
    vertical-align: top;
  }
  .course{
    background-color: #f2f5f7;
    .course-detail{
      padding-bottom: 60px;
      //height: 204px;
      //padding-left: 190.5px;
      width: 1050px;
      margin: 0 auto;
      >a{
        width: 193px;
        margin: 0 6px 0 6px;
        transition: transform 0.15s;
        box-shadow: 0 0 30px rgba(85,182,218,.2);
        &:hover{
          transform: translateY(-3px)
        }
        .course-title-com{
          font-size: 12px;
          color: #fff;
          height: 67px;
          z-index:1;
          text-align: left;
          padding: 17px 10px 0 10px;
        }
        .course-middle-com{
          background-color: #fff;
          height: 120px;
          color: #9da7ac;
        }
        .course-middle-com-1{
          .time-left-com{
            font-size: 12px;
            padding: 15px 15px 0 11px;
          }
          .quota-left-com{
            font-size: 14px;
            padding-left: 11px;
            span{
              color: #f45a70;
            }
          }
          .time-com{
            font-size: 12px;
            padding: 3px 0 22px 11px;
            span{
              display: inline-block;
              font-size: 14px;
              height: 26px;
              width: 26px;
              background: url(../pic/time.png) no-repeat center;
              background-size: 26px;
              color: #fff;
              text-align: center;
              line-height: 26px;
              margin: 0 2px;
            }
          }
        }
        .course-middle-com-2{
          padding-left: 11px;
          .price-rise-com{
            padding-top: 18px;
            .price-com{
              color: #f45a70;
              font-size: 17px;
              letter-spacing: 0.5px;
            }
            .rise-com{
              color: #000e42;
              font-size: 13px;
            }
          }
          .price-quota-left-com{
            padding-top: 24px;
            font-size: 13px;
            span{
              color: #f45a70;
            }
          }
          .rate-line-com{
            margin-top: 10px;
            height: 5px;
            width: 170px;
            border: 1px solid #f45a70;
            border-radius: 8px;
            .rate-line{
              height: 100%;
              background-color: #f45a70;
            }
            //.rate-line-1{
            //  width: 68%;
            //}
            //.rate-line-2{
            //  width: 90%;
            //}
          }
        }
        .course-bottom-com{
          position: absolute;
          top: 70px;
          width: 62px;
          font-size: 12px;
          line-height: 24px;
          border-bottom-right-radius: 16px;
          padding-left: 11px;
        }
        .course-bottom-com-1{
          background-color: #f45a88;
          color: #fff;
        }
        .course-bottom-com-2{
          background-color: #fff000;
          color: black;
        }
        .course-title-1{
          background-color: #a063e1;
        }
        .course-title-2{
          background-color: #f66e62;
        }
        .course-title-3{
          background-color: #7e97ae;
        }
        .course-title-4{
          background-color: #3fbec3;
        }
        .course-title-5{
          background-color: #f68e47;
        }
      }
    }
  }
}

.course-suit{
  background-color: #f9f9f9;
  .course-suit-detail{
    //padding-left: 190.5px;
    width: 1050px;
    margin: 0 auto;
    >a{
      width: 325px;
      text-align: center;
      color: #999;
      margin: 0 10px 45px 10px;
      transition: transform 0.15s;
      box-shadow: 0 0 30px rgba(85,182,218,.2);
      &:hover{
        transform: translateY(-3px)
      }
      .suit-bg{
        width: 325px;
        height: 113px;
        background-size: cover;
        background: no-repeat center;
      }
      .suit-bg1{
        background: url(../pic/suit-1.jpg);
      }
      .suit-bg2{
        background: url(../pic/suit-2.jpg);
      }
      .suit-bg3{
        background: url(../pic/suit-3.jpg);
      }
      .suit-middle{
        background-color: #fff;
        padding: 18px 0 30px 0;
        h1{
          font-size: 28px;
          font-weight: 400;
          color: #000e42;
        }
        h2{
          font-size: 14px;
          padding-top: 15px;
          color: #9da7ac;
          width: 235px;
          height: 46px;
          margin: 0 auto;
          line-height: 23px;
          font-weight: 400;
        }
        .look-detail-1{
          width: 156px;
          font-size: 15px;
          margin: 10px 0 0 84.5px;
          bottom: 30px;
        }
      }
    }
  }
}
.course-popular{
  background-color: #fff;
  .course-popular-detail{
    //padding-left: 190.5px;
    padding-bottom: 30px;
    width: 1050px;
    margin: 0 auto;
    >a{
      margin: 0 5px 20px 5px;
      width: 242px;
      color: #000e42;
      height: 341px;
      transition: transform 0.15s;
      box-shadow: 0 0 30px rgba(85,182,218,.2);
      &:hover{
        transform: translateY(-3px)
      }
      .popular-bg{
        width: 242px;
        height: 153px;
        overflow: hidden;
        img{
          width: 100%;
          height: 174px;
        }
      }
      h3{
        padding: 30px 15px 0 15px;
        font-size: 16px;
        height: 46px;
      }
      .popular-middle{
        padding-left: 15px;
        position: absolute;
        bottom: 30px;
        .time-num{
          font-size: 13px;
          float: left;
        }
        .left-num{
          width: 86px;
          color: #f45a88;
          border: solid 1px #f45a88;
          font-size: 14px;
          text-align: center;
          padding: 7px 0;
          position: absolute;
          left: 136px;
        }
      }
      .look-detail-2{
        position: absolute;
        display: none;

        width: 145px;
        font-size: 14px;
        margin: 10px 0 0 45px;
        bottom: 30px;
      }
    }
  }
}
.look-detail-com{
  color: #fff;
  background-color: #58b6e7;
  border-radius: 3px;
  padding: 8px 0;
  text-align: center;
}
.count-num-com{
  font-size: 13px;
  float: left;
  color: #9da7ac;
}
.course-free{
  background-color: #f9f9f9;
  .course-free-detail{
    //padding-left: 200px;
    padding-bottom: 30px;
    width: 1050px;
    margin: 0 auto;
    >a{
      width: 220px;
      color: #000e42;
      height: 268px;
      margin: 5px 20px 30px 10px;
      transition: transform 0.15s;
      box-shadow: 0 0 30px rgba(85,182,218,.2);
      &:hover{
        transform: translateY(-3px)
      }
      .free-bg{
        width: 220px;
        height: 120px;
        overflow: hidden;
        img{
          width: 100%;
          height: 154px;
          margin-top: -20px;
        }
      }
      h3{
        padding: 24px 15px 0 15px;
        font-size: 16px;
        height: 46px;
        font-weight: 400;
      }
      .count-num-3{
        padding-left: 15px;
        position: absolute;
        bottom: 18px;
      }
      .look-detail-3{
        position: absolute;
        display: none;

        width: 145px;
        font-size: 14px;
        margin: 10px 0 0 38px;
        bottom: 17px;
      }
    }
    .look-detail-4{
      width: 260px;
      font-size: 16px;
      margin: 38px auto 20px auto;
      a{
        color: #fff;
      }
    }
  }
}
.line{
  display: inline-block;
  width: 1px;
  height: 235px;
  background-color: #eaeff3;
  margin-top: 22px;
  z-index: 10;
}
.culture{
  a{
    display: inline-block;
    position: relative;
    vertical-align: top;
  }
  .students{
    background-color: #fff;
    .student-detail{
      padding-bottom: 50px;
      padding-top: 25px;
      //padding-left: 199px;
      width: 1050px;
      margin: 0 auto;
      >a{
        transition: transform 0.16s;
        width: 253px;
        padding-top: 25px;
        text-align: center;
        color: #1b2026;
        z-index: 20;
        background-color: white;

        &:hover{
          transform: scale(1.06);
          box-shadow: 0 0 30px #999;
          z-index: 21;
        }
        img{
          width: 65px;
          height: 65px;
          border-radius: 50%;
          margin-bottom: 5px;
        }
        h4{
          font-size: 18px;
        }
        h5{
          font-size: 15px;
          margin: 6px 0 18px 0;
        }
        p{
          font-size: 14px;
          font-weight: 300;
          color: #989898;
          width: 196px;
          height: 90px;
          text-align: justify;
          margin-left: 29px;
          letter-spacing: 0.3px;
        }
        .look-all{
          color: #55b6da;
          border: solid 1px #55b6da;
          border-radius: 3px;
          padding: 8px 0;
          text-align: center;
          width: 131px;
          margin: 10px auto 16px;
          display: none;
        }
      }
    }
  }
  .company{
    background-color: #f9f9f9;
    .company-detail{
      //padding-left: 200px;
      width: 1050px;
      margin: 0 auto;
      .company-pic-big{
        display: inline-block;
        width: 235px;
        height: 240px;
        margin: 0 8px;
      }
      .company-pic-big-1{
        background: url(../pic/company-1.jpg);
        background-size: cover;
      }
      .company-pic-big-2{
        background: url(../pic/company-2.jpg);
        background-size: cover;
      }
      .company-pic-big-3{
        background: url(../pic/company-3.jpg);
        background-size: cover;
      }
      .company-pic-big-4{
        background: url(../pic/company-4.jpg);
        background-size: cover;
      }
      .company-intro{
        width: 474px;
        display: inline-block;
        padding: 25px 18px;
        vertical-align: top;
        position: relative;
        >img{
          width: 100px;
          height: 60px;
        }
        h3{
          font-size: 18px;
          font-weight: 400;
          color: #000e42;
          width: 337px;
          padding-top: 10px;
        }
        .p-com1{
          color: #9da7ac;
          padding-top: 10px;
        }
        span{
          color: #41a1de;
          font-size: 14px;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
.company-other{
  background-color: #f9f9f9;
  padding-bottom: 44px;
  ul{
    //padding-left: 200px;
    width: 1050px;
    margin: 0 auto;
    li{
      display: inline-block;
      width: 185px;
      height: 67px;
      margin: 0 20px 20px 0;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.question{
  background-color: #fff;
  a{
    display: block;
    background-color: #fade08;
    width: 240px;
    box-shadow: 0 6px 0 #ffd200;
    color: #333;
    font-size: 21px;
    text-align: center;
    margin: 28px auto 40px ;
    padding: 10px 0;
  }
}
.bottom{
  background-color: #f7f7f7;
  padding-top: 40px;
  .img{
    width: 1050px;
    margin: 0 auto;
    >img{
      width: 96px;
    }
  }
  .bottom-content{
    //padding-left: 205.5px;
    width: 1050px;
    margin: 0 auto;
    padding-top: 30px;
    ul{
      display: inline-block;
      vertical-align: top;
      margin-right: 100px;
      li{
        font-size: 14px;
        color: #555;
        font-weight: 800;
        letter-spacing: 0.3px;
        margin-bottom: 15px;
        a{
          color: #666;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
    .about{
      display: inline-block;
      margin-left: 90px;
    }
  }
  .bottom-line{
    background-color: #ebeef2;
    height: 1px;
    width: 100%;
  }
  .bottom-last{
    padding-top: 20px;
    font-size: 13px;
    padding-bottom: 26px;
    width: 1050px;
    margin: 0 auto;
    span{
      padding: 0 170px 0 0;
      //width: 1050px;
      margin: 0 auto;
      letter-spacing: 0.3px;
      a{
        color: #777;
        img{
          display: inline-block;
          height: 20px;
          width: 20px;
          vertical-align: middle;
        }
        p{
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
.p-com{
  font-size: 14px;
  line-height: 23px;
  //height: 69px;
  text-align: justify;
  letter-spacing: 0.3px;
}
.float-com{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(243,243,243,0.7);
  width: 100%;
  height: 100%;
  padding: 80px 290.5px;
  z-index: 999;
  display: none;
  .float-content{
    background-color: white;
    padding: 80px 95px;
    width: 660px;
    height: 360px;
    position: relative;
    .float-img{
      width: 133px;
      height: 81px;
      padding-bottom: 25px;
    }
    .p-com2{
      color: #1b2026;
      font-size: 15px;
      line-height: 25px;
    }
    i{
      background: url(../pic/close.png) no-repeat center;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}








@media screen and(max-width: 700px){
  .com-title-1{
    font-size: 22px;
  }
  .top{
    width: 100%;
    .top-scene{
      width:100%;
      .top-tit{
        width:100%;
        padding: 0;
        position: relative;
        >div{
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAlklEQVRYR+2Wuw2EMBBEPRVAE5iUBOqATq8OSC49uwmoYBCIQ+ITL0geN/BGz9rZhXv44WG+U4DdQFHUFekyiy8B3BTj8F1Ye4DSN7SA/xm/0K/skwHmFiEAjBcDFuA7hqZABmTgPQa8bz4gTaqYwBhC3x2acAtg0oRbgPYQQE0oAzIgA0kdpSSnEIe1dXWUvmcdJzuGM02BOiGFHOLbAAAAAElFTkSuQmCC") no-repeat;
          background-size: 32px;
          display: inline-block;
          width: 32px;
          height: 32px;
          position: relative;
          float: right;
          top: 22px;
          margin-right: 20px;
          >ul{
            display: none;
            background-color: white;
            border: 1px solid #e2e2e2;
            margin-top: 60px;
            margin-left: 1px;
            position: absolute;
            width: auto;
            right: 0;
            .li{
              display: block;
              border-bottom: 1px solid #e2e2e2;
              width: 120px;
              font-size: 14px;
            }
            .li2{
              font-size: 14px;
              float: none;
              a{
                display: block;
                width: 100%;
                color: #666;
                border: 1px solid transparent;
                border-radius: 0;
                margin-right: 0;
                padding: 14px 0 10px 0;
                &:hover{
                  color: #666;
                  border-bottom: solid 5px transparent;
                }
              }
              .login{
                color: #666;
                margin-left: 0;
                &:hover{
                  color: #666;
                  background-color: #fff;
                }
              }
              .register{
                color: #666;
                background-color: #fff;
              }
            }
            .li1{
              font-size: 14px;
              a{
                display: block;
                width: 100%;
                color: #666;
                text-align: center;
                &:hover{
                  color: #666;
                  border-bottom: solid 5px transparent;
                }
              }
            }
          }
        }
      }
    }
  }
  .top-middle{
    height: 249px;



















    .top-middle-scene{
      .top-scroll{
        li{
        }
        .one-1{
        }
        .one-2{
        }
        .one-3{
        }
      }
      .dotted{
        span{
        }
      }
    }
  }



  .middle{
    width: 100%;
    .course{
      width: 100%;
      .course-detail{
        width: calc(100% - 44px);
        padding: 0 0 0 44px;
        >a{
          width: 150px;
          display: inline-block;
          margin: 20px 4px;
          .course-middle-com-1{
            .time-left-com{
              //font-size: 12px;
              //padding: 15px 15px 0 11px;
            }
            .quota-left-com{
              font-size: 12px;
              //padding-left: 11px;
            }
            .time-com{
              span{
                font-size: 12px;
                height: 16px;
                width: 16px;
                background-size: 16px;
                line-height: 16px;
              }
            }
          }
          .course-middle-com-2{
            .price-rise-com{
              .price-com{
                font-size: 14px;
                display: block;
              }
            }
            .price-quota-left-com{
              padding-top: 4px;
            }
            .rate-line-com{
              width: 130px;
            }
          }
        }
      }
    }
    .course-suit-detail{
      width: 350px;
      padding-bottom: 20px;
      >a{
        display: block;
        margin: 20px auto;
        .suit-middle{
          h1{
            font-size: 21px;
          }
        }
      }
    }
    .course-popular-detail{
      width: 350px;
      >a{
        display: block;
        margin: 20px auto;
      }
    }
    .course-free-detail{
      width: 350px;
      >a{
        display: block;
        margin: 20px auto;
      }
    }
  }
  .culture{
    .students{
      .student-detail{
        width: 380px;
        margin: 0 auto;
        >a{
          display: inline-block;
          margin: 20px 25px;
          width: 135px;
          position: relative;
          p{
            display: none;
            position: absolute;
          }
          .look-all{
            display: block;
          }
        }
        .line{
          display: none;
        }
      }
    }
    .company{
      .company-detail{
        width: 350px;
        .company-pic-big{
          display: none;
        }
        .company-intro{
          width: 330px;
          display: block;
          margin: 20px auto 0 auto;
          background-color: white;

          >img{
            display: block;
            margin: 0 auto;
          }
          h3{
            width: 250px;
            margin: 0 auto;
          }
          p{
            width: 330px;
          }
        }
      }
    }
  }
  .company-other{
    ul{
      width: 380px;
      li{
        margin: 0 2px 20px 0;
      }
    }
  }

  .bottom{
    .img{
      width: 380px;
    }
    .bottom-content{
      width: 380px;
      margin: 0 auto;
      >ul{
        display: none;

      }
      .about{
        width: 350px;
        margin: 0 auto;
        ul{
          width: 350px;
          margin: 0 auto;
          li{
            display: inline-block;
          }
        }
      }
    }
    .bottom-last{
      width: 380px;
      position: relative;
      font-size: 14px;
      span{
        padding-right: 1px;
        display: inline-block;
        margin-bottom: 20px;
      }
      .jing{
        position: absolute;
        top: 20px;
        right: 0;
      }
    }
  }
  .consult{
    display: none;
  }
  .consult2{
    display: block;
  }
}
